@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #000019;
}

.loading-background {
  position: fixed;
  background: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.loading-background .loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.loading-background .loading-bar .loading-circle-1,
.loading-background .loading-bar .loading-circle-2 {
  content: " ";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ff00bd;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 2s infinite ease-in-out;
}

.loading-background .loading-bar .loading-circle-2 {
  animation-delay: -1s;
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
